<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="~/css/site.css">
	<title>Create</title>
</head>

<body>
	<h1>Home Page</h1>
	@Html.ActionLink("Create", "Create")
	@Html.ActionLink("Read", "Read")
	@Html.ActionLink("Update", "Update")
	@Html.ActionLink("Delete", "Delete")
</body>

</html>
